@font-face {
	font-family: 'ProximaNovaRg';
	src: url("../fonts//proxima/ProximaNova-Regular.eot");
	src: url("../fonts//proxima/ProximaNova-Regular.eot?#iefix")
		format("embedded-opentype"),
		url("../fonts//proxima/ProximaNova-Regular.woff2") format("woff2"),
		url("../fonts//proxima/ProximaNova-Regular.woff") format("woff"),
		url("../fonts//proxima/ProximaNova-Regular.ttf") format("truetype"),
		url("../fonts//proxima/ProximaNova-Regular.svg#ProximaNova-Regular")
		format("svg");
	font-weight: normal;
	font-style: normal
}

html, body {

	font-family: 'ProximaNovaRg';
	color: #939393;
	font-size: 14px;

}

.navbar .navbar-nav {

	margin-top: 7px;

}

.navbar .container {

	padding: 1px;

}

.navbar-brand img {

	width: 40px;
	margin-top: -5px;

}

.navbar .navbar-nav li {

	margin: 0px 7px; 

}

.navbar .navbar-nav li a {

	color: #529ecc;
	padding: 5px 15px;

}

.navbar .navbar-nav li a:hover, .navbar .navbar-nav li a:focus {

	color: #0075bb;

}

.navbar .navbar-nav li.push-down a {

	border: 2px solid #529ecc;
	border-radius: 8px;

}

.navbar .navbar-nav li.push-down a:hover, .navbar .navbar-nav li.push-down a:focus {

	color: white;
	background-color: #529ecc;

}

.navbar .navbar-form button {
	position: absolute;
	top: 0;
	height: 100%;
	color: #ccc;
	border: 0;
	background: transparent;
}

.navbar .navbar-form input {
	padding-left: 30px;
	border-radius: 8px;
	width: 150px;
}

.navbar .navbar-form input:focus {
	width: 450px;
}

#register .modal-header {
	border-bottom: unset;
}

#register .modal-title {
	color: black;
}

#register .modal-content > p {
	font-size: 18px;
}